CompileFlags:
  Add: [
    -std=c++20,
    -Wall,
    -Wextra,
    -Wpedantic,
    -Werror,
    -Wshadow,
    -Wconversion,
    -Wsign-conversion,
    -Wnull-dereference,
    -Wold-style-cast,
    -Woverloaded-virtual,
    -Wdouble-promotion,
    -Wformat=2,
    -Isrc,
    -pthread
  ]
